@use "../abstract/keyframes.abstract";

.dahlia-header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;

    figure {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
    }
}

.dahlia-main {
    opacity: 0;
    animation: show 300ms ease-in-out forwards;
    padding-top: 10vh;
    min-height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/bg.jpg');
}